/* TOOLTIP */
#tooltip_advancement .adv_tooltip_line1
{
  font-weight: bold;
}
#tooltip_advancement .adv_tooltip_line2
{
  font-weight: bold;
  color: #888;
}
#tooltip_advancement .adv_tooltip_line2.adv_tooltip_normal,
#tooltip_advancement .adv_tooltip_line2.adv_tooltip_goal
{
  color: #55FF55;
}
#tooltip_advancement .adv_tooltip_line2.adv_tooltip_challenge
{
  color: #AA00AA;
}

#tooltip_achievement .achiev_tooltip_line1
{
  font-weight: bold;
}
#tooltip_achievement .achiev_tooltip_line2
{
  font-weight: bold;
  color: #888;
}
#tooltip_achievement .achiev_tooltip_end
{
  color: #FFFF88;
}

#tooltip .enchanttool {
  color: #00FFFF;
}

#tooltip .enchantname {
  color: #B3B3B3;
  display: inline-block;
  padding-top: 6px;
}
#tooltip .enchant-curse {
  color: #FF5555;
}

#tooltip span.tooltip_attack_damage {
  margin-top: 10px;
  color: #5555FF;
  display: inline-block;
}

#tooltip span.tooltip_lore {
  color: #AA00AA;
  display: inline-block;
  font-style: italic;
}

#tooltip {
  z-index: 999999999;
  position: absolute;
  border: 2px solid #2C0863;
  border-radius: 6px 6px;
  background: rgba(19,5,19,0.9);
  box-shadow: 0px 0px 0 2px #000;
  padding: 4px 10px;
  color: #fff;
  display: none;
  font-family: 'MinecraftRegular','minecraftiaregular','Code2000';
  font-size: 16px;
  font-weight: normal;
}

#tooltip_effects {
  z-index: 999999999;
  position: absolute;
  border-radius: 0px;
  background: transparent;
  padding: 0px 0px;
  color: #fff;
  display: none;
  font-size: 16px;
  font-weight: normal;
}

#tooltip_achievement {
  z-index: 999999999;
  position: absolute;
  border-radius: 0px;
  background-color: rgba(0,0,0,0.8);
  padding: 4px 6px;
  color: #fff;
  display: none;
  font-size: 16px;
  font-weight: normal;
  max-width: 250px;
}

#tooltip_advancement {
  font-family: 'MinecraftRegular','Code2000'; 
  z-index: 999999999;
  position: absolute;
  border-radius: 4px;
  border: 2px solid #555; 
  box-shadow: 0 0 0 2px #000;
  background-color: #212121;
  padding: 4px 6px;
  color: #fff;
  display: none;
  font-size: 16px;
  font-weight: normal;
  max-width: 500px;
}

#tooltip_advancement .advancement_icon_small {
  margin: -10px 0;
}

#tooltip_advancement .head-tooltip {
  margin: -20px -8px 8px -8px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #000;
  text-shadow: 2px 2px #3F3F3F;
  vertical-align: middle;
  font-size: 20px;
  font-weight: normal;
  padding: 2px 20px 2px 2px;
  line-height: 32px;

}

#tooltip_advancement .head-tooltip img {
  vertical-align: middle;
}


#tooltip_advancement .head-tooltip.blue {
  background-color: #036A96;
  border-top: 2px solid #0489C1;
  border-left: 2px solid #0489C1;
  border-bottom: 2px solid #012E40;
  border-right: 2px solid #012E40;
}
#tooltip_advancement .head-tooltip.orange {
  background-color: #B98F2C;
  border-top: 2px solid #DBA213;
  border-left: 2px solid #DBA213;
  border-bottom: 2px solid #493606;
  border-right: 2px solid #493606;
}
/*#tooltip_advancement .head-tooltip.orange .advancement_icon_small {
  background-color: #AA7E0F;
}
*/


/* Cadre CRAFTINGS */

.block-small {
  max-height: 32px !important;
  max-width: 32px !important;
  vertical-align: middle;
}
.block-medium {
  max-height: 64px;
  max-width: 64px;
  vertical-align: middle;
}

#img-item-small,
.img-item-small,
.img2-item-small { 
  width: 32px; 
  height: 32px; 
  background: url(../img/outils/itemsx2.png); 
}
.img2-item-small { 
  background: url(../img/outils/items2x2.png); 
}
#img-item-medium,
.img-item-medium,
.img2-item-medium { 
  width: 64px; 
  height: 64px; 
  background: url(../img/outils/itemsx4.png); 
}
.img2-item-medium { 
  background: url(../img/outils/items2x4.png); 
}
#img-item-big,
.img-item-big,
.img2-item-big { 
  width: 128px; 
  height: 128px; 
  background: url(../img/outils/itemsx8.png); 
  /*background-size: 4096px 2048px;
  image-rendering:optimizeSpeed;             / * Legal fallback * /
  image-rendering:-moz-crisp-edges;          / * Firefox        * /
  image-rendering:-o-crisp-edges;            / * Opera          * /
  image-rendering:-webkit-optimize-contrast; / * Safari         * /
  image-rendering:optimize-contrast;         / * CSS3 Proposed  * /
  image-rendering:crisp-edges;               / * CSS4 Proposed  * /
  image-rendering:pixelated;                 / * CSS4 Proposed  * /
  -ms-interpolation-mode:nearest-neighbor;   / * IE8+           * /
  */
}
.img2-item-big { 
  background: url(../img/outils/items2x8.png); 
}

#img-bloc-small,
.img-bloc-small,
.img2-bloc-small {
  width: 32px; 
  height: 32px; 
  background: url(../img/outils/terrainx2.png); 
}
.img2-bloc-small {
  background: url(../img/outils/terrain2x2.png); 
}
#img-bloc-medium,
.img-bloc-medium,
.img2-bloc-medium {
  width: 64px; 
  height: 64px; 
  background: url(../img/outils/terrainx4.png); 
}
.img2-bloc-medium {
  background: url(../img/outils/terrain2x4.png); 
}
#img-bloc-big,
.img-bloc-big,
.img2-bloc-big { 
  width: 128px; 
  height: 128px; 
  background: url(../img/outils/terrainx8.png); 
}
.img2-bloc-big { 
  background: url(../img/outils/terrain2x8.png); 
}

#img-divers-small,
.img-divers-small,
.img2-divers-small { 
  width: 32px; 
  height: 32px; 
  background: url(../img/outils/othersx2.png); 
}
.img2-divers-small { 
  background: url(../img/outils/others2x2.png); 
}
#img-divers-big,
.img-divers-big,
.img2-divers-big { 
  width: 128px; 
  height: 128px; 
  background: url(../img/outils/othersx8.png); 
}
.img2-divers-big { 
  background: url(../img/outils/others2x8.png); 
}

#img-effect-small,
.img-effect-small,
.img2-effect-small {
width: 36px;
height: 36px;
background: url(../img/outils/effectsx2.png);
}
#img-effect-big,
.img-effect-big,
.img2-effect-big {
width: 144px;
height: 144px;
background: url(../img/outils/effectsx8.png);
}
.img2-effect-small {
background: url(../img/outils/effects2x2.png);
}
.img2-effect-big {
background: url(../img/outils/effects2x8.png);
}

.case-crafting {
  position: relative;
  height: 36px;
}

.grid-input {
    top: 2px;
    left: 2px;
    position: absolute;
    z-index: 1
}

.grid-output {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 1
}

.grid-input-number {
    top: 17px;
    left: 22px;
    position: absolute;
    z-index: 2
}

.grid-input-number2 {
    top: 17px;
    left: 10px;
    position: absolute;
    z-index: 2
}

.grid-output-number {
    top: 25px;
    left: 30px;
    position: absolute;
    z-index: 2
}

.grid-output-number2 {
    top: 25px;
    left: 18px;
    position: absolute;
    z-index: 2
}

.grid-input-number > div,
.grid-input-number2 > div,
.grid-output-number > div,
.grid-output-number2 > div
{
  position: relative;
  height: 16px;
  width: 16px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

div.grid-input-slide > span.grid-input,div.grid-input-slide > span.grid-input-numbers, div.grid-output-slide > span.grid-output,div.grid-output-slide > span.grid-output-numbers
{
    display:none
}

.bloc-crafting td
{
  border: none;
  vertical-align: middle!important;
}

table.bloc-crafting
{
  background-color: #C6C6C6 !important;
  border: outset 2px #999;
  padding: 6px;
}

.bloc-crafting a {
    border: none !important;
}

.craft_number { 
  float: left;
  margin: 0 auto;
  width: 16px; 
  height: 16px; 
  background: url(img/crafting_chiffres.png); 
}

.case-crafting {
  position: relative; 
  height: 36px;
}

.case-crafting-output {
  position: relative; 
}

.description a,
#popup .description a { 
  font-weight: bold;
  border-bottom: 1px solid green;
}
.description a:hover,
#popup .description a:hover { 
  font-weight: bold;
  border-bottom: 1px solid #7CFC00;
}

.tag-hide
{
  display: none;
}


/* Grille Brewing (crafitng potion) */

.potion_list {
  display: inline-block;
  padding-top: 6px;
}
.potion_positif,
.potion_negatif,
.potion_neutre,
.potion_mixte,
.potion_base {
  text-align: center;
  display: inline-block;
}
.potion_base {
  color: gray;
}
.potion_positif {
  color: #5555FF;
}
.potion_negatif {
  color: #FF5555;
}
.potion_base,
.potion_neutre,
.potion_mixte {
  color: #AAAAAA;
}
.potion-nom {
  font-size: 26px;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.desc-potion-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.potion-nom-en{
  font-style: italic;
  text-align: center;
  display: block;
}
.potion-desc-en {
  text-align: center;
  font-style: italic;
  color: #aaa;
}

.desc-complete-potion {
  text-align: center;
  margin: 10px;
}

table.brewing-stand {
  border: 2px #eee outset;
  background: #C6C6C6 url(../img/outils/brewing.png) no-repeat !important;
  width:224px!important; 
  height: 150px !important;
}
.brewing-stand table,
.brewing-stand tr,
.brewing-stand td { 
  border: 0px none!important;
}

table.brewing-stand .content_popup_link  img {
  margin: inherit;
  vertical-align: bottom;
}


.bloc-content .brewing-stand a,
.bloc-content .brewing-stand a:hover,
.brewing-stand a {
  border-bottom: inherit!important;
  border-width: 0!important;
}








/* Armor Trims */
/* Preview */
.trims-small
{
  width: 15px;
  height: 30px;
}

.trims-big
{
  width: 150px;
  height: 230px;
}
/*.banner-small .banner-layer1,
.banner-small .banner-layer2,
.banner-small .banner-layer3,
.banner-small .banner-layer4,
.banner-small .banner-layer5,
.banner-small .banner-layer6
{
  width: 15px;
  height: 30px;
  background: url(../img/outils/bannersx0.75.png);
}
.banner-small .banner-shadow
{
  width: 15px;
  height: 30px;
  background: url(../img/outils/banner-shadow-x0.75.png);
  background-position: -30px 0px;
}*/

.trims-big .skeleton
{
  width: 150px;
  height: 230px;
  background: url(../img/armor_trims/preview_skeleton.png);
}
.trims-big .trims,
.trims-big .head-front,
.trims-big .leggings-back,
.trims-big .boots-back,
.trims-big .leggings-front,
.trims-big .chestplate-front
{
  width: 150px;
  height: 230px;
  background: url(../img/armor_trims/preview_armors_elements.png);
}
.trims-big .leggings-trims,
.trims-big .chestplate-trims
{
  width: 150px;
  height: 230px;
  background: url(../img/armor_trims/preview_armors_trims.png);
}
.trims-big .leggings-front
{
  background-position: -150px -1150px;
}
.trims-big .leggings-back
{
  background-position: -150px -920px;
}
.trims-big .leggings-trims
{
  background-position: -450px -920px;
}

.trims-big .trims
{
  background-image: /* Les couches s'affichent dans l'ordre inverse /!\ */
    url(../img/armor_trims/preview_armors_trims.png),    /* helmet-trims */
    url(../img/armor_trims/preview_armors_elements.png), /* helmet-front */
    url(../img/armor_trims/preview_armors_trims.png),    /* boots-trims */
    url(../img/armor_trims/preview_armors_elements.png), /* boots-front */
    url(../img/armor_trims/preview_armors_trims.png),    /* chestplate-trims */
    url(../img/armor_trims/preview_armors_elements.png), /* chestplate-front */
    url(../img/armor_trims/preview_armors_trims.png),    /* leggings-trims */
    url(../img/armor_trims/preview_armors_elements.png), /* leggings-front */
    url(../img/armor_trims/preview_armors_elements.png), /* boots-back */
    url(../img/armor_trims/preview_armors_elements.png); /* leggings-back */
}

.trims-big .trims
{
  background-position:
    -3000px -690px, /* helmet-trims */
    -300px -0px,    /* helmet-front */
    -3450px -690px, /* boots-trims */
    -300px -1150px, /* boots-front */
    -3150px -690px, /* chestplate-trims */
    -300px -230px,  /* chestplate-front */
    -3300px -690px, /* leggings-trims */
    -300px -690px,  /* leggings-front */
    -300px -920px,  /* boots-back */
    -300px -690px;  /* leggings-back */
}

.trims-big .trims
{
  background-position:
    -3000px -690px, /* helmet-trims */
    -300px -0px,    /* helmet-front */
    -3450px -690px, /* boots-trims */
    -300px -1150px, /* boots-front */
    +150px +690px, /* chestplate-trims */
    +150px +230px,  /* chestplate-front */
    -3300px -690px, /* leggings-trims */
    -300px -690px,  /* leggings-front */
    -300px -920px,  /* boots-back */
    -300px -460px;  /* leggings-back */
}


.banner-big .banner-shadow
{
  width: 80px; /* 40 */
  height: 156px; /* 78 */
  background: url(../img/armor_trims/banner-shadow-x4.png);
  background-position: -160px 0px;
}
.banner-small.block-small
{
  width: 32px;
  height: 32px;
  display: inline-block;
}
.banner-small.block-medium
{
  width: 64px;
  height: 64px;
  display: inline-block;
}
.block-small .banner-small
{
  border: 1px solid black;
  margin-top: 0px;
  margin-left: 7px;
}

/* Crafting de drapeaux */
#craft-banner .switch_shape .banner-small
{
  display: inline-block;
}



/* Banner */
/* Banner (crafting+preview) */
.banner-small
{
  width: 15px;
  height: 30px;
}

.banner-big
{
  width: 80px; /* 40 */
  height: 156px; /* 78 */
}
.banner-small .banner-layer1,
.banner-small .banner-layer2,
.banner-small .banner-layer3,
.banner-small .banner-layer4,
.banner-small .banner-layer5,
.banner-small .banner-layer6
{
  width: 15px;
  height: 30px;
  background: url(../img/outils/bannersx0.75.png);
}
.banner-small .banner-shadow
{
  width: 15px;
  height: 30px;
  background: url(../img/outils/banner-shadow-x0.75.png);
  background-position: -30px 0px;
}

.banner-big .banner-layer1,
.banner-big .banner-layer2,
.banner-big .banner-layer3,
.banner-big .banner-layer4,
.banner-big .banner-layer5,
.banner-big .banner-layer6
{
  width: 80px; /* 40 */
  height: 156px; /* 78 */
  background: url(../img/outils/bannersx4.png);
}
.banner-big .banner-shadow
{
  width: 80px; /* 40 */
  height: 156px; /* 78 */
  background: url(../img/outils/banner-shadow-x4.png);
  background-position: -160px 0px;
}
.banner-small.block-small
{
  width: 32px;
  height: 32px;
}
.banner-small.block-medium
{
  width: 64px;
  height: 64px;
}
.block-small .banner-small
{
  border: 1px solid black;
  margin-top: 0px;
  margin-left: 7px;
}

/* Crafting de drapeaux */
#craft-banner .switch_shape .banner-small
{
  display: inline-block;
}



/* Shield */
.shield-small
{
  width: 12px;
  height: 22px;
}

.shield-big
{
  width: 84px;
  height: 154px;
}
.shield-small .shield-layer1,
.shield-small .shield-layer2,
.shield-small .shield-layer3,
.shield-small .shield-layer4,
.shield-small .shield-layer5,
.shield-small .shield-layer6
{
  width: 12px;
  height: 22px;
  background: url(../img/outils/shieldx1.png);
}
.shield-small .shield-shadow
{
  width: 12px;
  height: 22px;
  background: url(../img/outils/shield-shadow-x1.png);
}

.shield-big .shield-layer1,
.shield-big .shield-layer2,
.shield-big .shield-layer3,
.shield-big .shield-layer4,
.shield-big .shield-layer5,
.shield-big .shield-layer6
{
  width: 84px;
  height: 154px;
  background: url(../img/outils/shieldx7.png);
}
.shield-big .shield-shadow
{
  width: 84px;
  height: 154px;
  background: url(../img/outils/shield-shadow-x7.png);
}
.shield-small.block-small
{
  width: 32px;
  height: 32px;
}
.shield-small.block-medium
{
  width: 64px;
  height: 64px;
}
.block-small .shield-small
{
  border: 1px solid black;
  margin-top: 4px;
  margin-left: 9px;
}

/* Crafting de drapeaux */
#craft-shield .switch_shape .shield-small
{
  display: inline-block;
}




/* Cadre EFFET de potion*/
.effect_frame {
  background: #212121;
  border: 4px solid #555555;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #000,
              0 0 0 2px #000;
  display: inline-block;
  padding: 4px 10px 4px 5px;
  font-family: 'MinecraftRegular','minecraftiaregular','Code2000';
  font-size: 16px;
  min-width: 230px;
  height: 42px;
  margin: 3px;
  line-height: 22px;
  font-weight: normal;
  color: white;
}
.effect_frame a {
  border-bottom: 0 none!important;
  font-style: normal!important;
}
.effect_frame .effect_img { 
  float: left;
  margin: 4px 10px 0 0;
}
.effect_frame .no-time { margin-top: 11px!important; }

.effect_frame .effect_name { 
  float: left;
  margin: 0 10px 0 0;
  text-shadow: 2px 2px 0 #3F3F3F;
  vertical-align: middle;
}

.effect_frame .effect_duree {
  color: #7F7F7F;
}





.achievement_icon_small,
.achievement_icon_big
{
  text-align: center;
  display: inline-block;
  line-height: 16px !important;
  /*float: left;*/
}
#popup .achievement_icon_big { float: left; }

.achievement_icon_small
{
  background: url(../img/outils/achievement_bg_x2.png);
  padding: 10px;
  width: 32px;
  height: 32px;
}

.achievement_icon_big
{
  background: url(../img/outils/achievement_bg_x8.png);
  padding: 40px;
  width: 128px;
  height: 128px;
}
.achievement_icon_big .block-big,
.achievement_icon_big #img-item-big,
.achievement_icon_big #img-bloc-big
{
  width: 128px;
  height: 128px;
  margin: 0px !important;
}







.advancement_icon_small,
.advancement_icon_big
{
  text-align: center;
  display: inline-block;
  line-height: 16px !important;
  /*float: left;*/
}
#popup .advancement_icon_big { float: left; }

.advancement_icon_small
{
  background: url(../img/outils/advancement_bg_x2.png);
  padding: 10px;
  width: 32px;
  height: 32px;
}

.advancement_icon_big
{
  background: url(../img/outils/advancement_bg_x8.png);
  padding: 40px;
  width: 128px;
  height: 128px;
}

.advancement_icon_small.hidden_challenge
{
  background-position-y: 52px !important;
}
.advancement_icon_big.hidden_challenge
{
  background-position-y: 208px !important;
}


.advancement_icon_big .block-big,
.advancement_icon_big #img-item-big,
.advancement_icon_big #img-bloc-big
{
  width: 128px;
  height: 128px;
  margin: 0px !important;
}
.table-0,
.table-1,
.table-2,
.table-3,
.table-4,
.table-5,
/*.table-6, a vérif ?*/
.table-7,
.table-8,
.table-9 {
   border: outset 2px #999;
   background: #C6C6C6;
}
.table-0 a[rel="popup"],
.table-1 a[rel="popup"],
.table-2 a[rel="popup"],
.table-3 a[rel="popup"],
.table-4 a[rel="popup"],
.table-5 a[rel="popup"],
.table-6 a[rel="popup"],
.table-7 a[rel="popup"],
.table-8 a[rel="popup"],
.table-9 a[rel="popup"]
{
  padding: 0!important;
  border: 0!important;
  background: transparent!important;
}

.table-0 {
  background: url(../img/tables/0.png);
  width: 212px;
  height: 120px;
  position: relative;
}
.casecraft {
  position: absolute;
}
.table-0 .craft1 {
  left: 6px;
  top: 6px;
}
.table-0 .craft2 {
  left: 42px;
  top: 6px;
}
.table-0 .craft3 {
  left: 78px;
  top: 6px;
}
.table-0 .craft4 {
  left: 6px;
  top: 42px;
}
.table-0 .craft5 {
  left: 42px;
  top: 42px;
}
.table-0 .craft6 {
  left: 78px;
  top: 42px;
}
.table-0 .craft7 {
  left: 6px;
  top: 78px;
}
.table-0 .craft8 {
  left: 42px;
  top: 78px;
}
.table-0 .craft9 {
  left: 78px;
  top: 78px;
}

.table-0 .case-crafting-output {
  position: absolute;
  top: 15px;
  right: 3px;
}


.table-1 {
  background: url(../img/tables/1.png);
  width: 326px;
  height: 150px;
  position: relative;
}
.table-1 .icon-top {
  position: absolute;
  top: 19px;
  left: 17px;
}
.table-1 .icon-bottom {
  position: absolute;
  top: 92px;
  left: 17px;
}
.table-1 .case-crafting-output {
  position: absolute;
  top: 25px;
  right: 5px;
}



.table-2 {
  background: url(../img/tables/2.png);
  width: 264px;
  height: 120px;
  position: relative;
}
.table-2 .icon-top {
  position: absolute;
  top: 10px;
  left: 53px;
}
.table-2 .icon-bottom {
  position: absolute;
  top: 52px;
  left: 53px;
}
.table-2 .icon-out {
  position: absolute;
  top: 30px;
  right: 10px;
}


.table-3 {
  background: url(../img/tables/3.png);
  width: 273px;
  height: 144px;
  position: relative;
}

.table-3 .icon-1 {
  position: absolute;
  top: 41px;
  left: 18px;
}

.table-3 .icon-2 {
  position: absolute;
  top: 41px;
  left: 58px;
}

.table-3 .icon-3 {
  position: absolute;
  top: 79px;
  left: 38px;
}

.table-3 .case-crafting-output {
  position: absolute;
  top: 23px;
  right: 4px;
}

.table-3 .icon-center {
  position: absolute;
  top: 17px;
  left: 114px;
}


.table-4 {
  background: url(../img/tables/4.png);
  width: 244px;
  height: 131px;
  position: relative;
}
.table-4 .icon-in {
  position: absolute;
  top: 46px;
  left: 15px;
}
.table-4 .case-crafting-output {
  position: absolute;
  top: 19px;
  right: 4px;
}
.table-4 .icon-center {
  position: absolute;
  top: 12px;
  left: 80px;
}


.table-5 {
  width: 210px;
  height: 91px;
  position: relative;
}
.table-5 .plus {
  background: url(img/crafting_plus.png);
  position: absolute;
  width: 25px;
  height: 32px;
  top: 28px;
  left: 40px;
}
.table-5 .arrow {
  background: url(img/crafting_fleche.png);
  position: absolute;
  width: 32px;
  height: 27px;
  top: 32px;
  left: 110px;
}

.table-5 .icon1 {
  position: absolute;
  top: 28px;
  left: 5px;
}
.table-5 .icon2 {
  position: absolute;
  top: 26px;
  left: 70px;
}
.table-5 .case-crafting-output {
  position: absolute;
  top: 10px;
  right: 4px;
}
.table-5 .crafting-output {
  position: absolute;
  top: 28px;
  right: 23px;
}

.table-6 {
  background: url(../img/tables/6.png);
  width: 212px;
  height: 112px;
  position: relative;
}
.table-6 .icon-in {
  position: absolute;
  top: 15px;
  left: 25px;
}
.table-6 .icon-out {
  position: absolute;
  top: 28px;
  right: 22px;
}

.table-7 {
  width: 210px;
  height: 115px;
  position: relative;
}
.table-7 .plus {
  background: url(img/crafting_plus_bold.png);
  position: absolute;
  width: 25px;
  height: 32px;
  top: 38px;
  left: 44px;
}
.table-7 .arrow {
  background: url(img/crafting_fleche.png);
  position: absolute;
  width: 32px;
  height: 27px;
  top: 42px;
  left: 114px;
}

.table-7 .icon1 {
  position: absolute;
  top: 38px;
  left: 5px;
}
.table-7 .icon2 {
  position: absolute;
  top: 38px;
  left: 72px;
}
.table-7 .case-crafting-output {
  position: absolute;
  top: 15px;
  right: 4px;
}


.table-8 {
  width: 210px;
  height: 80px;
  position: relative;
}
.table-8 .plus {
  background: url(img/crafting_plus.png);
  position: absolute;
  width: 25px;
  height: 32px;
  top: 23px;
  left: 40px;
}
.table-8 .icon1 {
  position: absolute;
  top: 23px;
  left: 15px;
}
.table-8 .case-crafting-output {
  position: absolute;
  top: 23px;
  right: 15px;
}
.table-8 .arrow-clock {
  background: url(../img/tables/crafting-clock.png);
  position: absolute;
  width: 100px;
  height: 32px;
  top: 23px;
  left: 56px;
}

